:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
        "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
        "Source Han Sans CN", sans-serif;
}

.main-container {
    overflow: hidden;
}

.main-container,
.main-container * {
    box-sizing: border-box;
}

input,
select,
textarea,
button {
    outline: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    position: relative;
    width: 1280px;
    margin: 0 auto;
    background: #ffffff;
}

.depth-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    min-width: 0;
    min-height: 800px;
    background: #f9f9f9;
    overflow: hidden;
}

.depth-frame-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    z-index: 1;
}

.depth-frame-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    padding: 12px 40px 12px 40px;
    border-top: 1px solid #e5e8ea;
    z-index: 2;
}

.depth-frame-3 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    width: 115px;
    z-index: 3;
}

.depth-frame-4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 16px;
    z-index: 4;
}

.depth-frame-5 {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    position: relative;
    width: 16px;
    background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-01-17/iBkvJ5hWmb.png) no-repeat center;
    background-size: cover;
    z-index: 5;
    overflow: hidden;
}

.depth-frame-6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 83px;
    z-index: 6;
}

.edu-track {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 23px;
    color: #0f1119;
    font-family: Inter, var(--default-font-family);
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    text-align: left;
    white-space: nowrap;
    z-index: 7;
}

.depth-frame-7 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 32px;
    position: relative;
    z-index: 8;
}

.depth-frame-8 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 8px;
    position: relative;
    width: 40px;
    height: 40px;
    padding: 0 10px 0 10px;
    background: #e8eaf2;
    z-index: 9;
    overflow: hidden;
    max-width: 480px;
    border-radius: 8px;
}

.depth-frame-9 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    position: relative;
    z-index: 10;
}

.depth-frame-a {
    align-self: stretch;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    position: relative;
    z-index: 11;
    overflow: hidden;
}

.vector {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-01-17/H2ReCNbz7q.png) no-repeat center;
    background-size: cover;
    z-index: 12;
}

.depth-frame-b {
    flex-shrink: 0;
    position: relative;
    width: 40px;
    height: 40px;
    background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-01-17/6S2FWVj8mu.png) no-repeat center;
    background-size: cover;
    z-index: 13;
    overflow: hidden;
    border-radius: 20px;
}

.depth-frame-c {
    align-self: stretch;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    position: relative;
    z-index: 14;
}

.depth-frame-d {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    position: absolute;
    width: 320px;
    height: 805px;
    top: 20px;
    left: 24px;
    z-index: 15;
    overflow: hidden;
}

.depth-frame-e {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    position: relative;
    min-width: 0;
    padding: 16px 16px 16px 16px;
    background: #f9f9f9;
    z-index: 16;
}

.depth-frame-f {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    z-index: 17;
}

.depth-frame-10 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    z-index: 18;
}

.edu-track-11 {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 24px;
    color: #0f1119;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 19;
}

.depth-frame-12 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 8px;
    position: relative;
    z-index: 20;
}

.depth-frame-13 {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 12px;
    position: relative;
    padding: 8px 12px 8px 12px;
    z-index: 21;
    border-radius: 8px;
}

.depth-frame-14 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 24px;
    z-index: 22;
}

.depth-frame-15 {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    position: relative;
    width: 24px;
    z-index: 23;
    overflow: hidden;
}

.vector-16 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
    background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-01-17/NVBEEZMaBk.png) no-repeat center;
    background-size: cover;
    z-index: 24;
}

.depth-frame-17 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 74px;
    z-index: 25;
}

.dashboard {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 21px;
    color: #0f1119;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    white-space: nowrap;
    z-index: 26;
}

.depth-frame-18 {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 12px;
    position: relative;
    padding: 8px 12px 8px 12px;
    z-index: 27;
}

.depth-frame-19 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 24px;
    z-index: 28;
}

.depth-frame-1a {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    position: relative;
    width: 24px;
    z-index: 29;
    overflow: hidden;
}

.vector-1b {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
    background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-01-17/hA5p3zBQLN.png) no-repeat center;
    background-size: cover;
    z-index: 30;
}

.depth-frame-1c {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 61px;
    z-index: 31;
}

.students {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 21px;
    color: #0f1119;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    white-space: nowrap;
    z-index: 32;
}

.depth-frame-1d {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 12px;
    position: relative;
    padding: 8px 12px 8px 12px;
    z-index: 33;
}

.depth-frame-1e {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 24px;
    z-index: 34;
}

.depth-frame-1f {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    position: relative;
    width: 24px;
    z-index: 35;
    overflow: hidden;
}

.vector-20 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
    background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-01-17/U9UoN7pcP3.png) no-repeat center;
    background-size: cover;
    z-index: 36;
}

.depth-frame-21 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 62px;
    z-index: 37;
}

.teachers {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 21px;
    color: #0f1119;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    white-space: nowrap;
    z-index: 38;
}

.depth-frame-22 {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 12px;
    position: relative;
    padding: 8px 12px 8px 12px;
    z-index: 39;
}

.depth-frame-23 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 24px;
    z-index: 40;
}

.depth-frame-24 {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    position: relative;
    width: 24px;
    z-index: 41;
    overflow: hidden;
}

.vector-25 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
    background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-01-17/CuKOSwaPia.png) no-repeat center;
    background-size: cover;
    z-index: 42;
}

.depth-frame-26 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 53px;
    z-index: 43;
}

.classes {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 21px;
    color: #0f1119;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    white-space: nowrap;
    z-index: 44;
}

.depth-frame-27 {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 12px;
    position: relative;
    padding: 8px 12px 8px 12px;
    z-index: 45;
}

.depth-frame-28 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 24px;
    z-index: 46;
}

.depth-frame-29 {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    position: relative;
    width: 24px;
    z-index: 47;
    overflow: hidden;
}

.vector-2a {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
    background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-01-17/Oe16aOHsJF.png) no-repeat center;
    background-size: cover;
    z-index: 48;
}

.depth-frame-2b {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 59px;
    z-index: 49;
}

.subjects {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 21px;
    color: #0f1119;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    white-space: nowrap;
    z-index: 50;
}

.depth-frame-2c {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 12px;
    position: relative;
    padding: 8px 12px 8px 12px;
    z-index: 51;
}

.depth-frame-2d {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 24px;
    z-index: 52;
}

.depth-frame-2e {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    position: relative;
    width: 24px;
    z-index: 53;
    overflow: hidden;
}

.vector-2f {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
    background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-01-17/nzOFoCjtYY.png) no-repeat center;
    background-size: cover;
    z-index: 54;
}

.depth-frame-30 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 56px;
    z-index: 55;
}

.settings {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 21px;
    color: #0f1119;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    white-space: nowrap;
    z-index: 56;
}

.depth-frame-31 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    z-index: 57;
}

.depth-frame-32 {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    min-width: 84px;
    height: 40px;
    padding: 0 16px 0 16px;
    background: #1e3a89;
    z-index: 58;
    overflow: hidden;
    max-width: 480px;
    border-radius: 8px;
}

.depth-frame-33 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 31px;
    z-index: 59;
    overflow: hidden;
}

.new {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 21px;
    color: #f9f9f9;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 60;
    overflow: hidden;
}

.depth-frame-34 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 4px;
    position: relative;
    height: 40px;
    z-index: 61;
}

.depth-frame-35 {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 12px;
    position: relative;
    min-height: 0;
    padding: 8px 12px 8px 12px;
    z-index: 62;
}

.depth-frame-36 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 24px;
    z-index: 63;
}

.depth-frame-37 {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    position: relative;
    width: 24px;
    z-index: 64;
    overflow: hidden;
}

.vector-38 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
    background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-01-17/JPP3HuDaLu.png) no-repeat center;
    background-size: cover;
    z-index: 65;
}

.depth-frame-39 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 98px;
    z-index: 66;
}

.help-docs {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 21px;
    color: #0f1119;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    white-space: nowrap;
    z-index: 67;
}

.depth-frame-3a {
    position: absolute;
    width: 908px;
    height: 760px;
    top: 20px;
    left: 348px;
    filter: blur(2px);
    z-index: 68;
    overflow: hidden;
}

.depth-frame-3b {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    width: 908px;
    height: 72px;
    margin: 0 0 0 0;
    padding: 16px 16px 16px 16px;
    z-index: 69;
}

.depth-frame-3c {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    position: relative;
    width: 288px;
    min-width: 288px;
    z-index: 70;
}

.profile {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    min-width: 0;
    height: 40px;
    color: #0c111c;
    font-family: Inter, var(--default-font-family);
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    text-align: left;
    white-space: nowrap;
    z-index: 71;
}

.depth-frame-3d {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    position: relative;
    width: 908px;
    height: 160px;
    margin: 0 0 0 0;
    padding: 16px 16px 16px 16px;
    z-index: 72;
}

.depth-frame-3e {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    position: relative;
    min-width: 0;
    z-index: 73;
}

.depth-frame-3f {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    width: 316px;
    z-index: 74;
}

.depth-frame-40 {
    flex-shrink: 0;
    position: relative;
    width: 128px;
    height: 128px;
    min-height: 128px;
    background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-01-17/Tcmzt5dgn4.png) no-repeat center;
    background-size: cover;
    z-index: 75;
    overflow: hidden;
    border-radius: 64px;
}

.depth-frame-41 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 172px;
    height: 128px;
    z-index: 76;
}

.depth-frame-42 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 172px;
    z-index: 77;
}

.sophia-clark {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    min-width: 0;
    height: 28px;
    color: #0c111c;
    font-family: Inter, var(--default-font-family);
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    white-space: nowrap;
    z-index: 78;
}

.depth-frame-43 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 172px;
    z-index: 79;
}

.office-admin {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    min-width: 0;
    height: 24px;
    color: #4f6096;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 80;
}

.depth-frame-44 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 172px;
    z-index: 81;
}

.account-status-active {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 24px;
    color: #4f6096;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 82;
}

.depth-frame-45 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    position: relative;
    width: 908px;
    margin: 0 0 0 0;
    padding: 16px 16px 8px 16px;
    z-index: 83;
}

.audit-info {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    min-width: 0;
    height: 23px;
    color: #0c111c;
    font-family: Inter, var(--default-font-family);
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    text-align: left;
    white-space: nowrap;
    z-index: 84;
}

.depth-frame-46 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 24px;
    position: relative;
    width: 908px;
    margin: 0 0 0 0;
    padding: 16px 16px 16px 16px;
    z-index: 85;
}

.depth-frame-47 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 24px;
    position: relative;
    min-width: 0;
    z-index: 86;
}

.depth-frame-48 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 175px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #e5e8ea;
    z-index: 87;
}

.depth-frame-49 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    position: relative;
    min-width: 0;
    z-index: 88;
}

.depth-frame-4a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 175px;
    z-index: 89;
}

.account-created {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    min-width: 0;
    height: 21px;
    color: #4f6096;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    white-space: nowrap;
    z-index: 90;
}

.depth-frame-4b {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    position: relative;
    min-width: 0;
    z-index: 91;
}

.depth-frame-4c {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 175px;
    z-index: 92;
}

.july-15-2023 {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    min-width: 0;
    height: 21px;
    color: #0c111c;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    white-space: nowrap;
    z-index: 93;
}

.depth-frame-4d {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 677px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #e5e8ea;
    z-index: 94;
}

.depth-frame-4e {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    position: relative;
    min-width: 0;
    z-index: 95;
}

.depth-frame-4f {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 677px;
    z-index: 96;
}

.last-updated {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    min-width: 0;
    height: 21px;
    color: #4f6096;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    white-space: nowrap;
    z-index: 97;
}

.depth-frame-50 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    position: relative;
    min-width: 0;
    z-index: 98;
}

.depth-frame-51 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 677px;
    z-index: 99;
}

.august-20-2023 {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    min-width: 0;
    height: 21px;
    color: #0c111c;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    white-space: nowrap;
    z-index: 100;
}

.depth-frame-52 {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 16px;
    position: relative;
    width: 908px;
    height: 64px;
    margin: 0 0 0 0;
    padding: 12px 16px 12px 16px;
    z-index: 101;
}

.depth-frame-53 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 142px;
    min-width: 84px;
    height: 40px;
    padding: 0 16px 0 16px;
    background: #194fe5;
    z-index: 102;
    overflow: hidden;
    max-width: 480px;
    border-radius: 8px;
}

.depth-frame-54 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 110px;
    z-index: 103;
    overflow: hidden;
}

.reset-password {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 21px;
    color: #f7f9fc;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 104;
    overflow: hidden;
}

.depth-frame-55 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 84px;
    min-width: 84px;
    height: 40px;
    padding: 0 16px 0 16px;
    background: #e8ebf2;
    z-index: 105;
    overflow: hidden;
    max-width: 480px;
    border-radius: 8px;
}

.depth-frame-56 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 49px;
    z-index: 106;
    overflow: hidden;
}

.logout {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 21px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 107;
    overflow: hidden;
}

.depth-frame-57 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    position: absolute;
    width: 666px;
    height: 196px;
    top: 210px;
    left: 469px;
    padding: 20px 0 20px 0;
    z-index: 108;
    overflow: hidden;
    max-width: 960px;
}

.depth-frame-58 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    min-width: 0;
    padding: 20px 16px 12px 16px;
    z-index: 109;
}

.log-out-confirmation {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 35px;
    color: #0f1119;
    font-family: Inter, var(--default-font-family);
    font-size: 28px;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
    white-space: nowrap;
    z-index: 110;
}

.depth-frame-59 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    min-width: 0;
    z-index: 111;
}

.depth-frame-5a {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 12px;
    position: relative;
    padding: 12px 16px 12px 16px;
    z-index: 112;
    max-width: 480px;
}

.depth-frame-5b {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    position: relative;
    width: 235px;
    min-width: 84px;
    height: 40px;
    padding: 0 16px 0 16px;
    background: #1e3a89;
    z-index: 113;
    overflow: hidden;
    max-width: 480px;
    border-radius: 8px;
}

.depth-frame-5c {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 80px;
    z-index: 114;
    overflow: hidden;
}

.yes-logout {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 21px;
    color: #f9f9f9;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 115;
    overflow: hidden;
}

.depth-frame-5d {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    position: relative;
    width: 201px;
    min-width: 84px;
    height: 40px;
    padding: 0 16px 0 16px;
    background: #e8eaf2;
    z-index: 116;
    overflow: hidden;
    max-width: 480px;
    border-radius: 8px;
}

.depth-frame-5e {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 48px;
    z-index: 117;
    overflow: hidden;
}

.cancel {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 21px;
    color: #0f1119;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 118;
    overflow: hidden;
}